body{
    margin: 7% 10%;
    background-color: rgb(78, 78, 78);
}
.convert{
    background-color: white;
    min-height: 450px;
}
nav{
    padding-top: 10px;
}
nav ul{
    display: flex;
    list-style: none;
    justify-content: center;
}
nav label{
    /* position: absolute; */
    width: 80px;
    margin: 5px 20px;
    padding: 5px 20px;
    text-align: center;
    /* background-color: orange; */
}
.box{
    margin: 10px 30%;
}
.boxflex{
    margin-top: 60px;
    /* margin: 20px 30%; */
    padding: 30px 50px;
    display: flex;
    background-color: rgb(155, 155, 155);
    align-items: center;
    flex-direction: column;

    justify-content: center;
}
#amount,#operand1,#operand2{
    width: 300px;
    height: 30px;
}
#amount{
    font-size: 18px;
}
.label-input input{
    height: 30px;
}
